In [12]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import yfinance as yf

In [13]:
#import NVDA ticker data
nvda_data = yf.download("NVDA", start="2014-01-01", auto_adjust=True)
nvda_data.head()

[*********************100%***********************]  1 of 1 completed

Price          Close      High       Low      Open     Volume
Ticker          NVDA      NVDA      NVDA      NVDA       NVDA
Date
2014-01-02  0.373864  0.376693  0.370564  0.375278  260092000
2014-01-03  0.369385  0.375278  0.368207  0.374571  259332000
2014-01-06  0.374336  0.377164  0.369621  0.373157  409492000
2014-01-07  0.380464  0.381879  0.375514  0.378107  333288000
2014-01-08  0.385650  0.387536  0.380464  0.381879  308192000

In [14]:
#flattening of columns to allows for analysis
nvda_data.columns = nvda_data.columns.get_level_values(0)

#Make date a column and not an index 
nvda_data = nvda_data.reset_index()

nvda_data.head()

Price       Date     Close      High       Low      Open     Volume
0     2014-01-02  0.373864  0.376693  0.370564  0.375278  260092000
1     2014-01-03  0.369385  0.375278  0.368207  0.374571  259332000
2     2014-01-06  0.374336  0.377164  0.369621  0.373157  409492000
3     2014-01-07  0.380464  0.381879  0.375514  0.378107  333288000
4     2014-01-08  0.385650  0.387536  0.380464  0.381879  308192000