In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import yfinance as yf

In [13]:
#import NVDA ticker data
nvda_data = yf.download("NVDA", start="2014-01-01", auto_adjust=True)
nvda_data.head()

[*********************100%***********************]  1 of 1 completed

Price          Close      High       Low      Open     Volume
Ticker          NVDA      NVDA      NVDA      NVDA       NVDA
Date
2014-01-02  0.373864  0.376693  0.370564  0.375278  260092000
2014-01-03  0.369385  0.375278  0.368207  0.374571  259332000
2014-01-06  0.374336  0.377164  0.369621  0.373157  409492000
2014-01-07  0.380464  0.381879  0.375514  0.378107  333288000
2014-01-08  0.385650  0.387536  0.380464  0.381879  308192000

In [14]:
#flattening of columns to allows for analysis
nvda_data.columns = nvda_data.columns.get_level_values(0)

#Make date a column and not an index 
nvda_data = nvda_data.reset_index()

nvda_data.head()

Price       Date     Close      High       Low      Open     Volume
0     2014-01-02  0.373864  0.376693  0.370564  0.375278  260092000
1     2014-01-03  0.369385  0.375278  0.368207  0.374571  259332000
2     2014-01-06  0.374336  0.377164  0.369621  0.373157  409492000
3     2014-01-07  0.380464  0.381879  0.375514  0.378107  333288000
4     2014-01-08  0.385650  0.387536  0.380464  0.381879  308192000

In [4]:
#Load and Inspect QQQ data

QQQ_data = pd.read_csv("market_data/QQQ_split_adj.csv")

QQQ_data.head()

,date,open,high,low,close,volume,raw_close,change_percent,avg_vol_20d
0,1999-03-10,51.06250,51.15625,50.28125,51.0625,5232200,102.125,NaN,NaN
1,1999-03-11,51.43750,51.73440,50.31250,51.3125,9688600,102.625,0.49,NaN
2,1999-03-12,51.12500,51.15625,49.65625,50.0625,8743600,100.125,-2.44,NaN
3,1999-03-15,50.43750,51.56250,49.90625,51.5000,6369000,103.000,2.87,NaN
4,1999-03-16,51.71875,52.15625,51.15625,51.9375,4905800,103.875,0.85,NaN